.keyvalue-wrapper {
  .row {
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 12px;
    min-height: 22px;
    line-height: 1.4;
    box-sizing: border-box;
  }
  .name {
    padding: 3px 8px;
    width: 120px;
    background-color: #e1e3e6;
    flex-shrink: 0;
    word-break: break-all;
  }
  .value {
    padding: 3px 8px;
    flex-grow: 1;
    word-break: break-all;
  }
}