html,
body {
  height: 100%;
}

body {
  color: #333;
  font-size: 16px;
  background-color: #f8f8fb;
  -webkit-font-smoothing: antialiased;
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
}

.main-wrapper {
  height: 100%;
  width: 100%;
}

.head-nav {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  z-index: 999;
  color: #20a0ff;
  height: 60px;
  line-height: 60px;
  padding-left: 35px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .el-dropdown {
    margin-right: 30px;
    display: inline;
  }

  .el-button--small {
    padding: 9px 12px;
    border-radius: 3px;
  }
}

.el-button--mini {
  padding: 4px 8px;
}

.left-fixed-right-auto {
  display: flex;
  height: 100%;
  align-items: stretch;

  .right {
    flex-grow: 1;
    overflow: auto;
  }
}

.main-content {
  padding: 90px 40px 40px;
  min-height: 100%;
  background-color: #fff;

  &__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  &__action {
    float: right;
    margin-bottom: 16px;
  }

  .el-input__inner {
    /* width: 60%; */
    border-color: rgba(176, 183, 223, 0.5);

    &:hover {
      border-color: rgba(176, 183, 223, 0.8);
    }

    &:focus {
      border-color: rgba(176, 183, 223, 1);
    }
  }

  .el-tag--danger {
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
    line-height: 22px;
    height: 22px;
    border: none;
    background-color: #ff4949;
  }
}

.el-icon-check {
  font-size: 12px;
  color: #64ff10;
  margin-left: 5px;
}

.link-btn + .el-button,
.link-btn + .link-btn,
.el-button + .link-btn {
  margin-left: 10px;
}
